* {
  margin: 0;
  padding: 0;
}

.navberMain {
  background-color: #111111;
  position: absolute;
  width: 100%;
  background: transparent;
}
.container {
  width: 1320px;
  /* background-color: red; */
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  /* background-color: #111111; */
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.white {
  color: #ffffff !important;
}

.conDesign {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 12px;
  text-decoration: none;
}

.btnDesign {
  font-family: "Poppins", sans-serif;
  margin-left: 16px;
  font-size: 24px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skillBtn {
  background: transparent !important;
  border: 1px solid #000000;
  transition: 0.4s linear;
}

.skillBtn:hover {
  background-color: #000000 !important;
  color: #ffffff;
}

.py26 {
  padding: 26px 0;
}

.bannerMain {
  background: url(./assets/images/banner_bg.jpg) no-repeat center;
  background-size: cover;
}

.overlay {
  background-color: rgba(17, 17, 17, 0.8);
  padding-top: 206px;
  padding-bottom: 268px;
}

.h2Design {
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.f32 {
  font-size: 32px !important;
}

.regular {
  font-weight: 400 !important;
}

.h1Design {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 124px;
  font-weight: 600;
  text-align: center;
}

.py30 {
  padding: 30px 0;
}

.pDesign {
  font-family: "Poppins", sans-serif;
  color: #212529;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 38px;
}

.cardP1 {
  font-weight: 500;
  font-size: 16px;
  color: #6c757d;
}

.cardP2 {
  font-weight: 600;
  font-size: 18px;
}

.pWhite {
  color: #dee3e4;
}

.center {
  margin: 0 auto;
}

.mt50 {
  margin-top: 50px;
}

.mt75 {
  margin-top: 75px;
}

.py20 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f3d92c;
  color: #212529;
}

.px48 {
  padding-left: 48px;
  padding-right: 48px;
}

.h4Design {
  font-family: "Poppins", sans-serif;
  color: #212529;
  font-weight: 400;
  font-size: 16px;
  width: 112px;
  margin: 0 auto;
  background-color: #f5df4e;
  text-align: center;
}

.aboutPart {
  padding: 132px 0;
}

.mt24 {
  margin-top: 24px;
}

.aboutTop {
  width: 100%;
  margin-top: 60px;
  display: flex;
}

.aboutTL {
  width: 70%;
}

.aboutTR {
  width: 30%;
}

.tLeft {
  text-align: left;
}

.inlineBlock {
  display: inline-block;
}

.bold {
  font-weight: 700 !important;
}

.ml14 {
  margin-left: 14px;
}

.bb {
  border-bottom: 2px solid #f5df4e;
}

.w864 {
  width: 864px;
}

.about_circle {
  width: 120px;
  height: 120px;
  background-color: #f5df4e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanNum {
  font-family: "Poppins", sans-serif;
  color: #4c4d4d;
  font-size: 152px;
  font-weight: 600;
}

.h3Design {
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-top: 26px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mt20 {
  margin-top: 20px;
}

.card {
  width: 25%;
}

.aboutBottom {
  display: flex;
  margin-top: 90px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.mb124 {
  margin-bottom: 124px;
}

.proCard {
  width: 30%;
}

.proIcon {
  font-size: 50px;
  color: #f5df4e;
  width: 100%;
}

.ph3 {
  font-size: 24px;
  font-weight: 600;
}

.f16 {
  font-size: 16px !important;
}

.px12 {
  padding: 0 12px;
}

.lh29 {
  line-height: 29px;
}

.projectPart {
  padding: 128px 0;
  background-color: #f8f9fa;
}

.projectMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  margin-top: 90px;
}

.bc {
  color: #636568;
}

.resume_Part {
  margin-top: 128px;
  margin-bottom: 90px;
}

.r_flex {
  display: flex;
  margin-top: 121px;
}

.r_left {
  width: 50%;
}

.r_right {
  width: 50%;
}

.f28 {
  font-size: 28px;
}

.f21 {
  font-size: 21px;
}

.pr10 {
  padding-right: 10px;
}

.resume_main {
  border-left: 2px solid #f5df4e;
  padding-left: 18px;
}

.content {
  border-bottom: 1px solid #746e6e;
  padding-bottom: 18px;
  width: 95%;
}

.skill_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;
}

.medium {
  font-weight: 500;
}

.mb32 {
  margin-bottom: 32px;
}

.one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.two {
  width: 100%;
  height: 10px;
  background-color: #e9ecef;
  border-radius: 10px;
}

.progress_bar {
  height: 100%;
  background-color: #f5df4e;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.skill_part {
  margin-bottom: 150px;
}

.w80 {
  width: 80%;
}

.w60 {
  width: 60%;
}

.w65 {
  width: 65%;
}

.w99 {
  width: 99%;
}

.w70 {
  width: 70%;
}

.w95 {
  width: 95%;
}

.portfolio_part {
  background-color: #f8f9fa;
  padding: 130px 0;
}

.semibold {
  font-weight: 600;
}

.listDesign {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #212529;
  text-decoration: none;
}

.liBorder {
  position: relative;
}

.liBorder::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #f3d92c;
  left: -60%;
  bottom: -5px;
}

.pUl {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 36px;
}

.project_title {
  margin-top: 72px;
  margin-bottom: 52px;
}

.w50 {
  width: 48%;
}

.skillHeading {
  display: flex;
  justify-content: space-between;
}

.mt {
  margin-top: 0;
}

.rg40 {
  row-gap: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.item {
  width: 32%;
  background-color: red;
  position: relative;
  overflow: hidden;
}

.block {
  display: block;
}

.w100 {
  width: 100%;
}

.item_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
  transition: all linear 0.4s;
}

.item:hover .item_overlay {
  display: block;
}

.item:hover img {
  transform: scale(1.1);
}

.portIcon {
  font-size: 32px;
  color: #f5df4e;
}

.item_main {
  padding: 170px 0;
}

.mb12 {
  margin-bottom: 10px;
}

.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.workbtn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #737678;
  padding: 20px 56px;
  background-color: #f3d92c;
  border: none;
  margin-top: 60px;
}

.work_part {
  background: url(./assets/images/working_bg.jpg) no-repeat center;
  background-size: cover;
}

.work_text {
  text-align: center;
}

.work_overlay {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.faq_part {
  margin: 132px 0;
}

.faq_main {
  display: flex;
}

.faq_left {
  width: 50%;
}

.faq_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m0 {
  margin: 0;
}

.h5Design {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.faq_one {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.mb90 {
  margin-bottom: 90px;
}

.flex_main {
  border-bottom: 1px solid #4c4d4d;
  padding: 30px 0;
}

.flex_main:hover .faqp {
  display: block;
}
.rotate {
  transition: 1s;
}

.flex_main:hover .rotate {
  transform: rotate(180deg);
}

.flex_main:last-child {
  border: none;
  padding-bottom: 0;
}

.faqp {
  padding: 0 28px;
  font-size: 16px;
  text-align: left;
  line-height: 29px;
  display: none;
  transition: 4s;
}

.clients_part {
  background-color: #939597;
  padding: 130px 0;
  position: relative;
}

.clients_main {
  width: 966px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.clients_name {
  text-align: center;
  margin: 24px 0;
}

.cimg {
  border-radius: 50%;
}

.circle_main {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #a2afbd;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.circle::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f5df4e;
  position: absolute;
  left: -55%;
  top: -50%;
  display: none;
}

.circle:first-child:after {
  display: block;
}

.circle:first-child {
  background-color: #f5df4e;
}

.circle:hover::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f5df4e;
  position: absolute;
  left: -55%;
  top: -50%;
  display: block;
}

.circle:hover {
  background-color: #f5df4e;
}

.icon_box {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 66px;
}

.f30 {
  font-size: 30px;
}

.client_icon {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

.get_part {
  padding-top: 134px;
  padding-bottom: 156px;
  background-color: #f5df4e;
}

.get_details {
  width: 50%;
}

.get_forms {
  width: 50%;
}

.w526 {
  width: 526px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt32 {
  margin-top: 32px;
}

.f32 {
  font-size: 32px;
}

.smicon {
  opacity: 0.5;
  transition: all linear 0.4s;
}

.smicon:hover {
  color: #02a9ea;
  opacity: 1;
}

.smicon:last-child:hover {
  color: #ea4c89;
  opacity: 1;
}

.smicon:nth-child(4):hover {
  color: #333333;
  opacity: 1;
}

.sMedia_icon {
  display: flex;
  column-gap: 26px;
}

.get_main {
  display: flex;
}

.get_form {
  display: flex;
  flex-direction: column;
}

input {
  background: none;
  border: 0;
  border-bottom: 2px solid #000000;
}

input:focus {
  outline: 0;
}

label {
  margin-bottom: 40px;
  margin-top: 40px;
}

label:first-child {
  margin-top: 0;
}

.pb100 {
  padding-bottom: 100px;
}

.black {
  background-color: #000000;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-top: 28px;
  cursor: pointer;
}

footer {
  padding: 90px 0;
  background-color: #111418;
}

.footer_wrapper {
  display: flex;
}

.yellow {
  color: #f3d92c;
  margin: 0 4px;
  border-bottom: 1px solid #f3d92c;
}

.footer_main {
  display: flex;
  justify-content: space-between;
}
